@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-greyScale-900;
  overflow-x: hidden;
}

.bg-hero {
  position: relative;

  &::before,
  &::after {
    content: "";
    @apply bg-primary-300 bg-opacity-50;
    position: absolute;
    width: 328px;
    height: 328px;
    z-index: -1;
    border-radius: 50%;
    filter: blur(100px);
    -webkit-filter: blur(100px);
  }

  &::before {
    top: 0;
    left: -100px;
  }

  &::after {
    bottom: 0;
    right: -100px;
  }
}

.card {
  @apply w-[200px] h-[250px] rounded-3xl;
}
